<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kibnet.jtp"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="8" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <provider android:name=".db.EventsProvider"
            android:authorities="org.example.events" />
		<activity
			android:name=".db.Events"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		</activity>   
		<activity
			android:name=".Login"
			android:configChanges="keyboard|keyboardHidden|orientation"
			android:windowSoftInputMode="adjustResize" 
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		</activity>  		     
        <activity
            android:name=".Intro" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>      
        <activity
            android:name=".JPGtoPDFActivity" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>         
               
        <activity
            android:name=".Preview" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>     
    </application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>